.catalog
    padding-top: 40px
    // .catalog__wrapper
    &__wrapper

    // .catalog__menu
    &__menu

    // .catalog__title
    &__title
        @include title
        max-height: 53px
        max-width: 163px
        overflow: hidden

        margin-bottom: 40px
    // .catalog__list
    &__list
    // .catalog__items
    &__items
        margin-bottom: 15px
        a
            font-size: 1.4rem
            line-height: 1.7rem

            max-height: 324px
            max-width: 235px
            overflow: hidden

            color: $black

            padding: 15px
            display: block
            transition: all 0.1s linear
            &:hover
                background: #B777BE
                color: $white
                text-decoration: none
                transition: all 0.1s linear
    &__goods-text
        font-size: 1.4rem
        line-height: 1.7rem
        text-align: center

        max-height: 34px
        max-width: 270px
        overflow: hidden

        color: $gray
    &__wrapper-top
        column-gap: 30px
        row-gap: 30px
        margin-bottom: 56px
        margin-top: 40px
