.contacts
    // .contacts__title
    &__title
        @include title
    // .contacts__wrapper
    &__wrapper
        position: relative
        margin-bottom: 160px
    // .contacts__card
    &__card
        flex: 1 1 30%
    // .contacts__card-inner
    &__card-inner
        column-gap: 15px
        img
            transition: all 0.1s linear
            &:hover
                transform: scale(1.3)
                filter: invert(1)
                transition: all 0.1s linear
    // .contacts__card-link
    &__card-link
        max-width: 205px
        max-height: 40px

        font-size: 2rem
        line-height: 3.2rem

        color: #000000
        border: 1px solid #00000000
        transition: all 0.1s linear
        &:hover
            text-decoration: none
            background: $link
            color: $white
            border: 1px solid #702c78
            transition: all 0.1s linear

    // .contacts__card-name
    &__card-name
        @include description
        padding-left: 34px
        &--weight
            font-weight: 700
    // .contacts__card-image
    &__card-image
        position: absolute
        top: 75%
        left: 60%

        max-height: 296px
        max-width: 360px
        overflow: hidden
        img
            width: 100%

.quality
    &__title-2
        margin: 0 0 82px 0
    &__card-2
        flex: 1 1 22%
.before2
    &::before
        left: 15%
.location
    // .location__address-title-2
    &__address-title-2
        max-height: 76px
