/*Обнуление*/
*,
*:before,
*:after
  padding: 0
  margin: 0
  border: 0
  box-sizing: border-box

a
  text-decoration: none

ul,
ol,
li
  list-style: none

input,
select,
button
  outline: none

/*Для корректного использования rem/em*/
html
  font-size: 10px

body
  width: 100%
  background-color: white
  color: black
  font-family: 'Montserrat', 'Cormorant Garamond'
  font-weight: 400

/*Пример picture*/
.none
  display: none
.mb-typical
  margin-bottom: 30px
.block
  display: block
.container
  max-width: 1200px
p, h1, h2, h3, h4, h5, h6
  margin: 0
/*colors*/
$link: #B777BE
$gray: #6A6A6A
$link: #B777BE
$black: #000000
$white: #FFFFFF
$dealers: #F3F3F6